{% extends '@EasyAdmin/page/content.html.twig' %}


{% block page_title %}Dashboard - Onjarandria Portfolio{% endblock %}

{% block page_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="mb-4">Bienvenue dans l'administration</h1>
                <p class="lead">Gérez facilement tout le contenu de votre portfolio depuis cette interface.</p>
            </div>
        </div>

        <div class="row mt-4">
            {# Messages non lus #}
            <div class="col-md-3">
                <div class="card bg-danger text-white">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h4 class="card-title">{{ new_messages_count }}</h4>
                                <p class="card-text">Messages non lus</p>
                            </div>
                            <i class="fa fa-envelope fa-3x"></i>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="{{ ea_url().setController('App\\Controller\\Admin\\ContactMessageCrudController') }}" class="text-white">Voir les messages <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            {# Sections principales #}
            <div class="col-md-3">
                <div class="card bg-primary text-white">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h4 class="card-title">Hero</h4>
                                <p class="card-text">Section d'accueil</p>
                            </div>
                            <i class="fa fa-user-circle fa-3x"></i>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="{{ ea_url().setController('App\\Controller\\Admin\\HeroCrudController') }}" class="text-white">Gérer <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card bg-success text-white">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h4 class="card-title">Portfolio</h4>
                                <p class="card-text">Projets & réalisations</p>
                            </div>
                            <i class="fa fa-images fa-3x"></i>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="{{ ea_url().setController('App\\Controller\\Admin\\PortfolioItemCrudController') }}" class="text-white">Gérer <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card bg-info text-white">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h4 class="card-title">Services</h4>
                                <p class="card-text">Services proposés</p>
                            </div>
                            <i class="fa fa-cogs fa-3x"></i>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="{{ ea_url().setController('App\\Controller\\Admin\\ServiceCrudController') }}" class="text-white">Gérer <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">Guide rapide</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <h6><i class="fa fa-user-circle text-primary"></i> Section Hero</h6>
                                <p class="small">Personnalisez votre photo de profil, nom et métiers animés.</p>
                            </div>
                            <div class="col-md-4">
                                <h6><i class="fa fa-info-circle text-success"></i> À propos</h6>
                                <p class="small">Modifiez vos informations personnelles et votre biographie.</p>
                            </div>
                            <div class="col-md-4">
                                <h6><i class="fa fa-code text-warning"></i> Compétences</h6>
                                <p class="small">Ajoutez ou modifiez vos compétences avec les barres de progression.</p>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-4">
                                <h6><i class="fa fa-file-alt text-info"></i> CV / Resume</h6>
                                <p class="small">Gérez votre parcours éducatif et vos expériences professionnelles.</p>
                            </div>
                            <div class="col-md-4">
                                <h6><i class="fa fa-images text-danger"></i> Portfolio</h6>
                                <p class="small">Ajoutez vos projets avec images et catégories.</p>
                            </div>
                            <div class="col-md-4">
                                <h6><i class="fa fa-envelope text-secondary"></i> Contact</h6>
                                <p class="small">Configurez vos informations de contact et recevez les messages.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12">
                <div class="alert alert-info">
                    <i class="fa fa-info-circle"></i> <strong>Astuce :</strong> Toutes les modifications sont appliquées en temps réel sur le site front-end. Utilisez les boutons "Actif/Inactif" pour masquer temporairement des éléments sans les supprimer.
                </div>
            </div>
        </div>
    </div>
{% endblock %}
