{% extends 'loginbaseform.html.twig' %}
{% block form %}
<div class="container">
		<div id="LoginAndRegistrationForm">
			<h1 id="formTitle">Login Admin</h1>
            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
            {% if app.user %}
                <div class="alert alert-info">
                    Vous êtes déjà connecté en tant que {{ app.user.userIdentifier }},
                    <a href="{{ logout_path() }}">Se déconnecter</a>
                </div>
            {% endif %}
			<div id="LoginFrom" >
				<form method="post">
					<div class="center">
						<input id="LoginEmail" class="input-text"  placeholder="Email Address"
                        type="email" 
                        name="email" 
                        id="inputEmail" 
                        value="{{ last_username }}" 
                        class="form-control" 
                        autocomplete="email" 
                        required 
                        autofocus
                        
                        
                        > 
						<input id="LoginPassword" class="mt-10 input-text" placeholder="Password"
                        
                        type="password" 
                        name="password" 
                        id="inputPassword" 
                        class="form-control" 
                        autocomplete="current-password" 
                        required
                        
                        >
                        
					</div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					
					<div class="forgot-pass-remember-me mt-10" >
						<div class="remember-me">
							<input id="rememberMe" type="checkbox" name="_remember_me" id="rememberMe">
							<label for="rememberMe">Remember Me</label>
						</div>
					</div>

					<div class="center mt-20">
                    <button type="submit" class="Submit-Btn" id="LoginBtn">
                    <span class="btn-text">Login</span>
                    <span class="spinner"></span>
                    </button>
                    </div>
				</form>
			</div>
		</div>
	</div>

    {% endblock %}